*{
    margin: 0;
    padding: 0;
}
body{
    background-color: mediumorchid;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card-img img{
    height: 140px;
    border-radius: 20px;
}
.cards{
    width: 250px;
    padding: 20px;
    border: grey 1px solid;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    background-color: white;
}
.card-btn button{
    text-align: center;
}
.cards .card-discription{
    text-align: left;
}
@media only screen and (max-width: 750px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    body{
        background-color: yellow;
    }
}
@media only screen and (max-width: 480px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
    body{
        background-color: skyblue;
    }
}