body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
  }
  
  button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
  }
  
  #map {
    height: 400px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
  }
  